
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/DatatableGrid/Employee.js"></script>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-header">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <div class="d-inline">
                                <h4>Employee Registration</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="Home/Index"> <i class="feather icon-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Master</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Employee Registration</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <a href="Employee" type="button" class="btn btn-sm btn-primary float-right" style="margin-left: 10px;">Create</a>
                                    <table id="datatable" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Employee No</th>
                                                <th>Address</th>
                                                <th>Mobile</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

