
@{
    ViewBag.Title = "TehsilList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/DatatableGrid/Tehsil.js"></script>
<style>
    .datepicker {
        border-radius: 0px;
        padding: 5px;
    }
</style>
<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Default ordering table start -->
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <a href="Tehsil" type="button" class="btn btn-sm btn-primary float-right" style="margin-left: 10px;">Create</a>
                                    <table id="datatable" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>State</th>
                                                <th>District</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Default ordering table end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
