
@{
    ViewBag.Title = "ClientList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/Content/DatatableGrid/Client.js"></script>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Default ordering table start -->
                        <div class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <div class="dt-responsive table-responsive">
                                    <a href="Client" type="button" class="btn btn-sm btn-primary float-right" style="margin-left: 10px;">Create</a>
                                    <table id="datatable" class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>AppId</th>
                                                <th>Client Name</th>
                                                <th>Reference ID</th>
                                                <th>Qr Code</th>
                                                <th>Email Id</th>
                                                <th>Website</th>
                                                <th>App Version</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Default ordering table end -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


